<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean name="m1" class="com.test.ex003.Member" />
   
	<bean name="m2" class="com.test.ex003.Member">
		<property name="name" value="HONG" />
		
		<!-- id, password, age 값 설정 추가 -->
		
	</bean>

	<bean name="m3" class="com.test.ex003.Member">
		<property name="name" value="PARK" />

		<!-- id, password, age 값 설정 추가 -->

	</bean>

</beans>